/**
Stripe button customized from
https://codepen.io/Zeindelf/pen/vZbyEg
*/
@keyframes StripeSlide {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
button,
.btn {
  @include font-h6-bold;
  cursor: pointer;
  padding: 1rem 2rem 1.5rem;
  background-color: $btn-background;
  border-radius: 0.5rem;
  width: 100%;
  margin-bottom: 16px;
  transition: all 0.5s ease;
  overflow: hidden;
  position: relative;

  &:after {
    content: "";
    display: block;
    height: $stripe-height;
    width: 100%;
    background-image: repeating-linear-gradient(
      45deg,
      $border-color,
      $border-color 1px,
      transparent 2px,
      transparent 5px
    );
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-top: 1px solid $border-color;
    position: absolute;
    left: 0;
    bottom: 0;
    background-size: $stripe-height $stripe-height;
  }
  &:hover {
    background-color: $btn-background-hover;
    color: $btn-color-hover;
    border-color: $border-color-hover;

    &:after {
      background-image: repeating-linear-gradient(
        45deg,
        $btn-color-hover,
        $btn-color-hover 1px,
        transparent 2px,
        transparent 5px
      );
      border-top: 1px solid $border-color-hover;
      animation: StripeSlide 12s infinite linear forwards;
    }
  }
}
@include respond-to("lg") {
  button,
  .btn {
    width: max-content;
    padding: 1rem 6rem 1.5rem;
  }
}
@include respond-to("xl") {
  button,
  .btn {
    @include font-h5-bold;
  }
}
