html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
section {
  max-width: 100vw;
  overflow: hidden;
}
.container {
  @include make-container(16px);
  @include respond-to("sm") {
    @include make-container("sm");
  }
  @include respond-to("md") {
    @include make-container("md");
  }
  @include respond-to("lg") {
    @include make-container("lg");
  }
  @include respond-to("xl") {
    @include make-container("xl");
  }
  @include respond-to("xxl") {
    @include make-container("xxl");
  }
}
.container--full {
  width: 100vw;
}
.hero__split {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include respond-to("xl") {
    flex-direction: row;
    column-gap: 60px;
  }
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.full {
  width: 100%;
  height: 100%;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex--column {
  flex-direction: column;
}
.flex--row {
  flex-direction: row;
}
